// clear-fix mixin
@mixin cf {

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}
@mixin phone {
    
}

* {
    box-sizing: border-box;
}