// clear-fix mixin

@mixin phone{
    @media (max-width: $phone) {
        @content;
    }
}

@mixin tabletAl{
    @media (max-width: $tabletAl ) {
        @content;
    }
}


@mixin tablet{
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin cf {

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}

* {
    box-sizing: border-box;
}