// Variables
$first-color: #161b22;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

//Medidad Queries
$phone: 380px;
$tablet: 1024px;
$tabletAl:930px;
$desktop: 1200px;

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Separaciones
$separacion: 5rem;