.container-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px 50px 0px;
    button {
        background-color: #08c0d1;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 10px;
        }
    }

    button[disabled] {
        background-color: #08c0d1;
        cursor: no-drop;
    }

    input {
        height: 30px;
        width: 50px;
        text-align: center;
        border: 1px solid #08c0d1;
        border-radius: 3px;
    }
}
p{
    color: $white;
}